# --- IDE Settings (Add this!) ---
.vscode/

# --- Database (Add this!) ---
*.db
*.sqlite3

# --- Python System Files ---
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/

# --- Virtual Environment ---
.venv/

.idea
Directory/FastApi/sql_app.db

*.csv
*.pdfScrapping/chrome-mac-arm64/
